{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block page_title %}
Dashboard
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}

<!-- CARDS -->

<div class="cards">

    <div class="card">

        <h3>Total de Equipos</h3>

        <p>{{ total_equipos }}</p>

    </div>

    <div class="card">

        <h3>Equipos Activos</h3>

        <p>{{ equipos_activos }}</p>

    </div>

    <div class="card">

        <h3>Usuarios Asignados</h3>

        <p>{{ usuarios_asignados }}</p>

    </div>

    <div class="card">

        <h3>Total Ubicaciones</h3>

        <p>{{ ubicaciones }}</p>

    </div>

</div>

<!-- GRÁFICA -->

<div class="chart-container">

    <h2>Distribución por Tipo de Equipo</h2>

    <div class="fake-chart">

        <div class="circle"></div>

    </div>

</div>

{% endblock %}