{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block page_title %}
Dashboard
{% endblock %}

{% block content %}

<!-- Cards -->
<div class="cards">

    <div class="card">
        <h3>Total de Equipos</h3>
        <p>154</p>
    </div>

    <div class="card">
        <h3>Equipos Disponibles</h3>
        <p>128</p>
    </div>

    <div class="card">
        <h3>Usuarios Asignados</h3>
        <p>15</p>
    </div>

    <div class="card">
        <h3>Total Ubicaciones</h3>
        <p>11</p>
    </div>

</div>

<!-- Chart -->
<div class="chart-container">

    <h2>Distribución por Tipo de Equipo</h2>

    <div class="fake-chart">
        <div class="circle"></div>
    </div>

</div>

{% endblock %}

