{% extends 'base.html'%}

{% block title %}
Inventario
{% endblock %}

{% block page_litle %}
Inventario TI
{% endblock %}

{% block content %}

<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="top-bar">

    <input 
    type="text" 
    placeholder="Buscar Equipo..."
    class="search-input">

    <input 
    type="text"
    placeholder="Buscar ubicación..."
    class="search-input">

</div>

<div class="table-container">

    <table>

        <thead>
            <tr>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Serie</th>
                <th>Usuario</th>
                <th>Ubicación</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>

            {% for equipo in equipos %}

            <tr>

                <td>{{ equipo[1] }}</td>
                <td>{{ equipo[2] }}</td>
                <td>{{ equipo[3] }}</td>
                <td>{{ equipo[4] }}</td>
                <td>{{ equipo[10] }}</td>
                <td>{{ equipo[11] }}</td>

                <td class="actions">

                    <a href="/ver/{{equipo[0]}}" class="view-btn">
                        <i class="bi bi-eye-fill"></i>
                    </a>

                    <a href="/editar/{{equipo[0]}}" class="edit-btn">
                        <i class="bi bi-pencil-fill"></i>
                    </a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}

    