{% extends 'base.html'%}


{% block page_litle %}
Inventario TI
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inventario.css')}}">
{% endblock %}

{% block content %}

<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="top-bar">

  <form method="GET" action="/inventario" class="top-bar">

    <input
        type="text"
        name="equipo"
        placeholder="Buscar equipo..."
        class="search-input"
        value="{{ equipo_actual or '' }}">

    <input
        type="text"
        name="ubicacion"
        placeholder="Buscar ubicación..."
        class="search-input"
        value="{{ ubicacion_actual or '' }}">

    <select
        name="estado"
        class="search-input">

        <option value=""
            {% if not estado_actual %}selected{% endif %}>
            Todos
        </option>

        <option value="Disponible"
            {% if estado_actual == 'Disponible' %}selected{% endif %}>
            Disponible
        </option>

        <option value="Activo"
            {% if estado_actual == 'Activo' %}selected{% endif %}>
            Activo
        </option>

        <option value="En reparación"
            {% if estado_actual == 'En reparación' %}selected{% endif %}>
            En reparación
        </option>

        <option value="De baja"
            {% if estado_actual == 'De baja' %}selected{% endif %}>
            De baja
        </option>

    </select>

    <button type="submit">
        Buscar
    </button>

</form>

</div>

<div class="table-container">

    <table>

        <thead>
            <tr>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Usuario</th>
                <th>Ubicación</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>

            {% for equipo in equipos %}

            <tr>

                <td>{{ equipo[1] }}</td>
                <td>{{ equipo[2] }}</td>
                <td>{{ equipo[3] }}</td>
                <td>{{ equipo[10] }}</td>
                <td>{{ equipo[11] }}</td>
                <td>
                  {% if equipo[12] == 'Disponible' %}
                   <span class="estado-disponible">
                     {{ equipo[12] }}
                   </span>

                   {% elif equipo[12] == 'Activo' %}
                   <span class="estado-activo">
                      {{ equipo[12] }}
                     </span>

                     {% elif equipo[12] == 'En reparación' %}
                <span class="estado-reparacion">
                    {{ equipo[12] }}
                 </span>

                    {% elif equipo[12] == 'De baja' %}
                  <span class="estado-baja">
                  {{ equipo[12] }}
                  </span>

                 {% else %}
                  {{ equipo[12] }}
                 {% endif %}

                 </td>

                <td class="actions">

                    <a href="/ver/{{equipo[0]}}" class="view-btn">
                        <i class="bi bi-eye-fill"></i>
                    </a>

                    <a href="/editar/{{equipo[0]}}" class="edit-btn">
                        <i class="bi bi-pencil-fill"></i>
                    </a>

                    <a href="/eliminar/{{equipo[0]}}"
                     class="delete-btn"
                     onclick="return confirm('¿Seguro que deseas eliminar este equipo?')"
>
                        <i class="bi bi-trash-fill"></i>
                    </a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}

    